.display {
  display: none;
}

.card {
  background-color: white;
  border-radius: 1rem;
  margin: 2.5rem 2.5rem 0 2.5rem;
}

p {
  font-size: 1.6rem;
  padding: 1.4rem;
}

.original-link {
  color: hsl(255, 11%, 22%);
  border-bottom: hsl(0, 0%, 75%) 1px solid;
  overflow: hidden;
}

.shortened-link {
  color: hsl(180, 66%, 49%);
}

/* .copy {
  border-radius: 1rem;
  padding: 1rem 0;
  margin: 0 5rem;
} */

.button-container {
  margin: 0 1.4rem;
  padding-bottom: 1.4rem;
}

@media (min-width: 1440px) {
  .card {
    margin: 1.5rem 16.5rem 0 16.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
  }

  .original-link {
    border: none;
  }

  .desktop-container {
    display: flex;
    align-items: center;
  }

  .button-container {
    padding: 0;
  }

  .btn {
    cursor: pointer;
    width: 10rem;
  }

  .btn:hover {
    background-color: hsl(180, 66%, 80%);
  }
}
