.error {
  color: hsl(0, 87%, 67%);
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 0;
  /* display: none; */
}
.bg-gray {
  background: linear-gradient(to top, rgba(240, 241, 246) 50%, white 50% 100%);
}

.url-input {
  background-color: hsl(257, 27%, 26%);
  background-image: url("../../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 1.5rem;
  margin: 8rem 2.5rem 0;
  padding: 2.5rem;
}

.url-input input {
  border-radius: 0.5rem;
  border: none;
  height: 4.5rem;
  padding-left: 1.5rem;
  width: 100%;
  /* border: 3px solid hsl(0, 87%, 67%); */
}

.url-input input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: hsl(0, 0%, 75%);
}

.submit {
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  width: 100%;
  padding: 1.5rem 0;
}

/* Conditional Styles */
.display {
  display: none;
}

.placeholder input {
  outline-color: hsl(0, 87%, 67%);
}

.placeholder input::placeholder {
  color: hsl(0, 87%, 67%);
}
