header {
  height: 100vh;
  padding-top: 4rem;
}

.img {
  overflow: hidden;
}

.header-img {
  margin-top: 3rem;
  max-width: 150%;
}

.shortly-description {
  margin: 4.5rem 2.5rem 3rem;
  text-align: center;
}

.shortly-description h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.shortly-description p {
  font-size: 1.7rem;
  color: hsl(0, 0%, 75%);
}

@media (min-width: 1440px) {
  .desktop-layout {
    margin-top: 6rem;
    padding-left: 16.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 125px);
  }

  .img {
    overflow-x: hidden;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    align-self: center;
  }

  .header-img {
    width: 120%;
    position: relative;
    /* left: 3rem; */
  }

  .shortly-description {
    text-align: left;
    margin: 10rem 0 0 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .shortly-description h2 {
    font-size: 8rem;
    line-height: 9rem;
    margin: 0;
  }

  .shortly-description p {
    font-size: 2rem;
    padding: 0 10rem 0 0;
  }

  .btn-desktop {
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0;
    align-self: flex-start;
    justify-self: start;
    padding: 1rem 3rem;
  }

  .btn-desktop:hover {
    background-color: hsl(180, 66%, 80%);
  }
}
