.footer {
  background-color: hsl(260, 8%, 14%);
  padding-top: 5rem;
}

.footer img {
  display: block;
  margin: 0 auto;
  padding-bottom: 1.3rem;
}

.social {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 1440px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 7rem 16.5rem;
  }

  .footer img {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    justify-self: flex-start;
  }

  .social {
    margin: 0;
  }

  .social img {
    cursor: pointer;
  }

  .svg:hover {
    fill: hsl(180, 66%, 49%);
    background-color: red;
  }
}
